*{
    background: black;
}
img{
    width: 50%;
    border: solid 5px white;
    margin-left: 25%;
}
h1,h2{
    
    font-family: 'yeseva one', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background: black;
    text-align: center;
    text-transform: uppercase;
}
h1:hover{
    color: blue;
}
p{
    color: white;
    font-family: 'yeseva one', sans-serif;
}
div{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25%;
    margin-bottom: 25%;
}